<div class="turquoise-bg" style="padding: 20px;">
    <center><img class="img-responsive img-circle center-img" ng-src="http://placehold.it/200x200/27ae60/ffffff"
                 alt="Thème 2" src="http://placehold.it/200x200/e74c3c/ffffff"></center>
</div>

<div class="midnight-bg">
    <div class="container">
        <h1 class="text-center cloud">Features</h1>
    </div>
</div>

<div class="asphalt-bg">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
        <div class="row">
            <!-- YOUTUBE -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center">
                    <img src="assets/img/icons/Social/PNG/YouTube.png" alt="YouTube integration"
                         style="margin-top: -17px"/>
                    <h2 class="cloud mohave" style="display: inline-block; margin-left: 5px">YouTube Integration</h2>
                </div>
            </div>


            <!-- GOOGLE+ -->
            <div class="col-sm-6 col-lg-4">
                <div class="text-center">
                    <img src="assets/img/icons/Social/PNG/Twitter.png" alt="Twitter integration"
                         style="margin-top: -17px"/>
                    <h2 class="cloud mohave" style="display: inline-block; margin-left: 5px">Twitter Integration</h2>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4">
                <div class="text-center">
                    <img src="assets/img/icons/Social/PNG/GooglePlus.png" alt="Google+ integration"
                         style="margin-top: -17px"/>
                    <h2 class="cloud mohave" style="display: inline-block; margin-left: 5px">Google+ Integration</h2>
                </div>
            </div>
        </div>
    </div>
</div>