<div class="belize-bg">
    <div class="turquoise-bg home-slide-bg">
        <div class="container">
            <h1 class="text-center mohave cloud no-margin-top all-caps">Your Android App in 5 Minutes</h1><br/>

            <div class="row">

                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <img class="img-responsive center-block home-device" src="assets/img/flat-devices.png" alt=""/>
                    <br/><br/><br/>
                </div>

                <div class="col-sm-4 hidden-xs">
                    <img class="img-responsive home-device grow" src="assets/img/flat-htc-one.png" alt=""/>
                </div>
                <div class="col-sm-4">
                    <div class="row home-features" ng-click="goto('features')">
                        <div class="col-xs-3 col-sm-4">
                            <blockquote>
                                <div class="short-box-shadow img-circle">
                                    <img class="img-responsive" src="assets/img/icons/64/RoundIcons-Free-Set-40.png"
                                         alt="Gorgeous Design"/>
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-xs-9 col-sm-8">
                            <h3 class="mohave cloud no-margin-bottom no-margin-top">Gorgeous Design</h3>
                        </div>
                    </div>

                    <div class="row home-features">
                        <div class="col-xs-3 col-sm-4">
                            <blockquote>
                                <div class="short-box-shadow img-circle">
                                    <img class="img-responsive" src="assets/img/icons/64/RoundIcons-Free-Set-50.png"
                                         alt="Ready In 5 Minutes"/>
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-xs-9 col-sm-8">
                            <h3 class="mohave cloud no-margin-bottom no-margin-top">Instant results</h3>
                        </div>
                    </div>

                    <div class="row home-features">
                        <div class="col-xs-3 col-sm-4">
                            <blockquote>
                                <div class="short-box-shadow img-circle">
                                    <img class="img-responsive" src="assets/img/icons/64/Roundicons-35.png"
                                         alt="Connected & Social Apps"/>
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-xs-9 col-sm-8">
                            <h3 class="mohave cloud no-margin-bottom no-margin-top">Connected & Social Apps</h3>
                        </div>
                    </div>

                    <div class="row home-features">
                        <div class="col-xs-3 col-sm-4">
                            <blockquote>
                                <div class="short-box-shadow img-circle">
                                    <img class="img-responsive" src="assets/img/icons/64/Roundicons-54.png"
                                         alt="Boost your online presence & credibility"/>
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-xs-9 col-sm-8 two-lines">
                            <h3 class="mohave cloud no-margin-bottom no-margin-top">Boost your online presence &
                                credibility</h3>
                        </div>
                    </div>

                    <div class="row home-features">
                        <div class="col-xs-3 col-sm-4">
                            <blockquote>
                                <div class="short-box-shadow img-circle">
                                    <img class="img-responsive" src="assets/img/icons/64/RoundIcons-Free-Set-11.png"
                                         alt="Monetize your content with advertising"/>
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-xs-9 col-sm-8 two-lines">
                            <h3 class="mohave cloud no-margin-bottom no-margin-top">Monetize your content with
                                advertising</h3>
                        </div>
                    </div>
                    <br/>
                    <button class="btn-alizarin-big center-block long-box-shadow sink">SIGN-UP FOR FREE NOW!</button>
                </div>

                <div class="col-sm-4 hidden-xs">
                    <img class="img-responsive home-device-2 pull-right grow" src="assets/img/flat-galaxy-s4.png"
                         alt=""/>
                </div>
            </div>
        </div>
    </div>

    <div class="asphalt-bg home-presentation" parallax parallax-ratio="-0.225">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 hidden-xs">
                            <img src="assets/img/icons/64/Roundicons-53.png" alt="What is APKreator?"/>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <h1 class="mohave cloud no-margin-top">What is APKREATOR?</h1>

                            <p class="aleo cloud">With plans starting at <b>$0.00</b> per app, APKreator is the fastest,
                                easiest and cheapest way to create a fully
                                native Android
                                application for your YouTube Channel and/or Social Media followers.
                                <br/><br/>
                                Whether you use YouTube, Google+, Twitter, Facebook, SoundCloud&#8230; We've got you
                                covered.
                                <br/><br/>
                                Apps generated with APKreator are fully native and compliant with the Android design
                                guidelines, and can be published to Google Play or downloaded directly by your users,
                                just
                                like any other Android application.
                                <br/><br/>
                                What's more, APKreator allows you to monetize your content by enabling advertising
                                banners
                                inside your application, if you want to.<br/>
                                No need to be a YouTube partner to start earning money with your online content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3 hidden-xs">
                            <img class="pull-right" src="assets/img/icons/64/Roundicons-36.png" alt="Who is it for?"/>
                        </div>
                        <div class="col-sm-9">
                            <h1 id="who-for" class="mohave cloud no-margin-top">Who is it <span>for?</span></h1>

                            <p class="aleo cloud">
                                APKreator is aimed at YouTubers, Musicians, Artists, and anyone who's active on social
                                medias.
                                <br/><br/>
                                By providing your subscribers/followers with a centralized hub to access all your online
                                content, you increase their fidelity and the amount of your content they will consume,
                                which
                                at the end of the day boils-down to more revenue for you.
                                <br/><br/>
                                <b>Not a YouTube Partner yet?</b> With APKreator you can start earning money from your
                                content
                                right now by enabling advertising banners in your app.
                                <br/><br/>
                                <b>Already a YouTube Partner?</b> APKreator can increase your revenue without requiring
                                any work
                                on your part, the more users you have, the more money you earn.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
            <center>
                <button class="btn-nephrytis-big skew-forward">CLICK HERE TO LEARN MORE</button>
            </center>
        </div>
    </div>
</div>