@import "variables";
@import "mixins";

@mixin underline($color) {
  display: inline-block;
  border-bottom: 1px solid $color;
}

.belize-bg {
  background: $belize;
}

.asphalt-bg {
  background: $asphalt;
}

.amethyst-bg {
  background: $amethyst;
}

.turquoise-bg {
  background: $turquoise;
}

.nephrytis-bg {
  background: $nephrytis;
}

.white {
  color: $white !important;
}

.belize {
  color: $belize !important;
}

.teal {
  color: $teal !important;
}

.amethyst {
  color: $amethyst !important;
}

.asphalt {
  color: $asphalt !important;
}

.cloud {
  color: $cloud !important;
}

.nephrytis {
  color: $nephrytis !important;
}

.pumpkin {
  color: $pumpkin !important;
}

.btn-teal {
  @include flatButton($teal, $teal-darker);
}

.btn-turquoise {
  @include flatButton($turquoise, $teal);
}

.underline-teal {
  @include underline($teal);
}

.no-margin-top {
  margin-top: 0;
}