@charset "UTF-8";
body {
  background: #ecf0f1; }

h1, h2, h3, h4, h5 {
  font-family: mohave, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vex-dialog-button-primary {
  background: #16a085 !important; }

.dropdown-toggle:hover {
  cursor: pointer; }

.carousel-control {
  background-image: none !important; }

.vex-content {
  padding-bottom: 5px !important; }

.belize-bg {
  background: #2980b9; }

.asphalt-bg {
  background: #34495e; }

.amethyst-bg {
  background: #9b59b6; }

.turquoise-bg, .app-creator-step-1 {
  background: #1abc9c; }

.nephrytis-bg {
  background: #27ae60; }

.white {
  color: white !important; }

.belize {
  color: #2980b9 !important; }

.teal {
  color: #16a085 !important; }

.amethyst {
  color: #9b59b6 !important; }

.asphalt {
  color: #34495e !important; }

.cloud {
  color: #ecf0f1 !important; }

.nephrytis {
  color: #27ae60 !important; }

.pumpkin {
  color: #d35400 !important; }

.btn-teal {
  font-family: mohave, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  display: block;
  vertical-align: top;
  max-width: 400px;
  width: 100%;
  height: 42px;
  padding: 2px 0 0 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #16a085;
  border: 0;
  border-bottom: 2px solid #168e73;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #168e73;
  box-shadow: inset 0 -2px #168e73;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .btn-teal:hover, .btn-teal:active, .btn-teal:focus {
      outline: none !important;
      color: white; } }
  @media screen and (min-width: 768px) {
    .btn-teal {
      outline: none !important; } }
  .btn-teal:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-turquoise {
  font-family: mohave, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  display: block;
  vertical-align: top;
  max-width: 400px;
  width: 100%;
  height: 42px;
  padding: 2px 0 0 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #16a085;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #16a085;
  box-shadow: inset 0 -2px #16a085;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .btn-turquoise:hover, .btn-turquoise:active, .btn-turquoise:focus {
      outline: none !important;
      color: white; } }
  @media screen and (min-width: 768px) {
    .btn-turquoise {
      outline: none !important; } }
  .btn-turquoise:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.underline-teal {
  display: inline-block;
  border-bottom: 1px solid #16a085; }

.no-margin-top {
  margin-top: 0; }

/*--------------------
    Navigation Bar
--------------------*/
.navbar-apkreator {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #16a085;
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .navbar-apkreator {
      padding-left: 30px;
      padding-right: 40px; }
      .navbar-apkreator .navbar-right {
        padding-top: 15px; } }
  .navbar-apkreator .navbar-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-top: 20px;
    border-color: white;
    outline: none; }
    .navbar-apkreator .navbar-toggle .icon-bar {
      background: white; }
    .navbar-apkreator .navbar-toggle:hover {
      border-color: #ecf0f1; }
      .navbar-apkreator .navbar-toggle:hover .icon-bar {
        background: #ecf0f1; }
  .navbar-apkreator a {
    color: white;
    font-family: mohave;
    font-size: 1.25em; }
  .navbar-apkreator .navbar-collapse.in, .navbar-apkreator .navbar-collapse.collapsing {
    border-top-color: #ecf0f1; }
  .navbar-apkreator .navbar-right li a {
    text-transform: uppercase; }
    .navbar-apkreator .navbar-right li a:hover, .navbar-apkreator .navbar-right li a:active, .navbar-apkreator .navbar-right li a:focus, .navbar-apkreator .navbar-right li a.active a:hover {
      color: #16a085; }
  @media screen and (max-width: 768px) {
    .navbar-apkreator .navbar-right li .dropdown-menu a {
      color: white !important; }
      .navbar-apkreator .navbar-right li .dropdown-menu a:hover {
        color: #16a085 !important; } }
  .navbar-apkreator .navbar-right li.open a[data-toggle] {
    color: #16a085; }

/*-----------------
  Card Directive
------------------*/
div.card {
  border: 1px solid #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
  background: #eaeeef; }
  div.card h3 {
    border-bottom: 1px solid #d2d2d2;
    display: inline-block;
    padding-bottom: 3px;
    padding-right: 7px; }
  div.card p {
    font-family: aleo, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    padding-right: 5px;
    padding-left: 5px; }

/*----------------
  Sign-In Dialog
----------------*/
.sign-in-dialog input, .sign-up-dialog input {
  height: 35px;
  padding-left: 4px;
  margin-bottom: 15px;
  max-width: 400px;
  width: 100%;
  display: block;
  border: 1px solid #ababab;
  font-family: aleo, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .sign-in-dialog input:focus, .sign-up-dialog input:focus {
    padding-left: 0;
    outline: none;
    border: 1px solid #16a085; }
  .sign-in-dialog input.ng-invalid, .sign-up-dialog input.ng-invalid {
    border: 2px solid #d35400; }
.sign-in-dialog a, .sign-up-dialog a {
  font-size: 0.9em;
  font-family: aleo, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*----------------------
  App Creator Step n°1
----------------------*/
.app-creator-step-1 {
  text-align: center;
  padding: 15% 5%; }
