<!--suppress HtmlUnknownAttribute -->
<div class="app-creator">
    <div class="container">
        <blockquote class="teal">
            <h2 class="teal">Step n°1: Pick your Features</h2>
        </blockquote>

        <div class="row main-row">

            <!-- YOUTUBE -->
            <div class="col-sm-4">
                <div class="ng-card">
                    <div class="clearfix">
                        <div class="row-fluid clearfix">
                            <div class="col-xs-8">
                                <h3 class="teal no-margin-top"><i class="glyphicon glyphicon-play-circle"></i>YouTube
                                </h3>
                            </div>
                            <div class="col-xs-4">
                                <div class="flat-switch pull-right">
                                    <input type="checkbox" value="1" id="has_youtube" ng-model="youtube" ng-change="hasYoutube = !hasYoutube"/>
                                    <label for="has_youtube"></label>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <p>This feature allows users to browse through your YouTube channel &amp; watch your videos
                            directly from your app, with no login required.</p>
                        <input ng-model="features.youtube" type="text" placeholder="YouTube channel name&#8230;" ng-disabled="!hasYoutube"/>
                    </div>
                </div>
            </div>

            <!-- GOOGLE+ -->
            <div class="col-sm-4">
                <div class="ng-card">
                    <div class="clearfix">
                        <div class="row-fluid clearfix">
                            <div class="col-xs-8">
                                <h3 class="teal no-margin-top"><i class="glyphicon glyphicon-plus-sign"></i>Google+</h3>
                            </div>
                            <div class="col-xs-4">
                                <div class="flat-switch pull-right">
                                    <input type="checkbox" value="1" id="has_gplus" ng-model="gplus" ng-change="hasGplus = !hasGplus"/>
                                    <label for="has_gplus"></label>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <p>This feature allows users to browse through all your Google+ posts and to read them directly
                            from your application, with no login required.</p>
                        <input ng-model="features.gplus" type="text" placeholder="Google+ username&#8230;" ng-disabled="!hasGplus"/>
                    </div>
                </div>
            </div>

            <!-- TWITTER -->
            <div class="col-sm-4 feat-disabled">
                <div class="ng-card">
                    <div class="row-fluid clearfix">
                        <div class="col-xs-8">
                            <h3 class="teal no-margin-top"><i class="glyphicon glyphicon-user"></i>Twitter</h3>
                        </div>
                        <div class="col-xs-4">
                            <div class="flat-switch pull-right">
                                <input type="checkbox" value="1" id="has_twitter" checked disabled/>
                                <label for="has_twitter"></label>
                                <div></div>
                            </div>
                        </div>
                    </div>

                    <p>This feature allows users to browse through all your tweets and read them directly from your
                        application. (This feature is not available yet).</p>
                    <input ng-model="features.twitter" type="text" placeholder="Twitter username&#8230;" disabled=""/>
                </div>
            </div>
        </div>
    </div>
</div>
