<div class="container sign-in-dialog">
    <h1 class="teal no-margin-top">Sign In</h1>
    <form name="signInForm" ng-submit="signUserIn(signInForm.$valid)" novalidate>
        <input ng-model="user.name" type="text" placeholder="Username" ng-minlength="5" ng-required/>
        <input ng-model="user.password" type="password" placeholder="Password" ng-minlength="8" ng-required/>
        <button class="btn btn-teal">Let's Go!</button>
    </form>
    <a ng-href="#">Forgot your password?</a>
</div>