<footer class="belize-bg clearfix">
    <div class="row-fluid" id="built-with-div">
        <div class="col-sm-4 built-with">
            <h4 class="mohave cloud no-margin-top">Proudly Built With:</h4>
            <img class="pointer float" src="assets/img/icons/Social/PNG/HTML5_Red.png"
                 alt="HTML5"/>
            <img class="pointer float" src="assets/img/icons/Social/PNG/AngularJS.png"
                 alt="AngularJS"/>
            <img class="pointer float" src="assets/img/icons/Social/PNG/Node.png"
                 alt="NodeJS"/>
            <img class="pointer float" src="assets/img/icons/Social/PNG/Grunt.png"
                 alt="Grunt"/>
            <img class="pointer float" src="assets/img/icons/Social/PNG/Bower.png"
                 alt="Bower"/>
            <img class="pointer float" src="assets/img/icons/Social/PNG/CoffeeScript.png"
                 alt="CoffeeScript"/>
            <img class="pointer float" src="assets/img/icons/Social/PNG/Sass.png"
                 alt="SASS" style="margin-bottom: 20px;"/>
            <br/>
            <span class="mohave">&copy; APKreator 2014</span>
        </div>

        <div class="col-sm-4">

        </div>

        <div class="col-sm-4 social-div clearfix">
            <div class="pull-right">
                <h4 class="mohave cloud no-margin-top">Find Us On:</h4>
                <img class="pointer float" src="assets/img/icons/Social/PNG/GooglePlus.png" alt="Google+"/>
                <img class="pointer float" src="assets/img/icons/Social/PNG/Twitter.png" alt="Twitter"/>
                <img class="pointer float" src="assets/img/icons/Social/PNG/Facebook.png" alt="Facebook"/>
                <img class="pointer float" src="assets/img/icons/Social/PNG/Github.png" alt="GitHub"/>
            </div>
        </div>

    </div>
</footer>