<footer class="belize-bg clearfix">
    <div id="built-with-div">
        <div class="built-with">
            <h4 class="mohave cloud no-margin-top">Proudly Built With:</h4>

            <div style="margin-top: 10px">
                <a href="http://www.w3.org/TR/html5/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/HTML5_Red.png"
                         alt="HTML5"/>
                </a>
                <a href="https://angularjs.org/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/AngularJS.png"
                         alt="AngularJS"/>
                </a>
                <a href="http://nodejs.org/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/Node.png"
                         alt="NodeJS"/>
                </a>
                <a href="http://getbootstrap.com/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/Bootstrap.png"
                         alt="Bootstrap"/>
                </a>
                <a href="http://gruntjs.com/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/Grunt.png"
                         alt="Grunt"/>
                </a>
                <a href="http://bower.io/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/Bower.png"
                         alt="Bower"/>
                </a>
                <a href="http://coffeescript.org/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/CoffeeScript.png"
                         alt="CoffeeScript"/>
                </a>
                <a href="http://sass-lang.com/" target="_blank">
                    <img class="pointer float" src="assets/img/icons/Social/PNG/Sass.png"
                         alt="SASS"/>
                </a>
            </div>
            <span class="mohave">&copy; APKreator 2014</span>
            <br/>
        </div>
    </div>
</footer>