@import 'mixins';
@import 'variables';
@import "reset";
@import 'helpers';

/*--------------------
    Navigation Bar
--------------------*/
.navbar-apkreator {

  @include setBorderRadius(0);
  background: $teal;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    padding-left: 30px;
    padding-right: 40px;

    .navbar-right {
      padding-top: 15px;
    }
  }

  .navbar-toggle {
    @include setBorderRadius(0);
    margin-top: 20px;
    border-color: $white;
    outline: none;

    .icon-bar {
      background: $white;
    }

    &:hover {
      border-color: $cloud;

      .icon-bar {
        background: $cloud;
      }
    }
  }

  a {
    color: $white;
    font-family: mohave;
    font-size: 1.25em;
  }

  .navbar-collapse.in, .navbar-collapse.collapsing {
    border-top-color: $cloud;
  }

  .navbar-right li {

    a {
      text-transform: uppercase;

      &:hover, &:active, &:focus, &.active a:hover {
        color: $teal;
      }
    }

    &.active a {
      text-decoration: none;
      background-color: #eeeeee;
      color: $teal;
    }

    .dropdown-menu {
      @media screen and (max-width: 768px) {
        a {
          color: $white !important;

          &:hover {
            color: $teal !important;
          }
        }
      }
    }

    &.open {
      a[data-toggle] {
        color: $teal;
      }
    }
  }
}

// end navigation bar

/*-----------------
  Card Directive
------------------*/
div.ng-card {
  border: 1px solid #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
  background: #feffff;

  h3 {
    border-bottom: 1px solid #d2d2d2;
    display: inline-block;
    padding-bottom: 3px;
    padding-right: 7px;
  }

  p {
    font-family: $aleo-font;
    font-size: 1.15em;
    padding-right: 5px;
    padding-left: 5px;
  }

  i {
    margin-right: 5px;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    min-height: 72px;
    border: 1px solid #ababab;
    font-family: $aleo-font;
    font-size: 1.1em;
  }

  .image-holder img {
    margin: 20px auto 10px auto;
    max-height: 188px;
    -webkit-box-shadow: 0 0 40px -10px #000;
    -moz-box-shadow: 0 0 40px -10px #000;
    box-shadow: 0 0 40px -10px #000;
  }

  div.row-fluid div {
    padding-left: 0;
    padding-right: 0;
  }

  input[type=text] {
    @media screen and (min-width: 768px) {
      max-width: 400px;
    }

    height: 35px;
    padding-left: 4px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    font-size: 1.1em;
    border: 1px solid #ababab;
    font-family: $aleo-font;

    &:focus {
      padding-left: 0;
      outline: none;
      border: 1px solid $teal;
    }

    &.ng-invalid {
      border: 2px solid $pumpkin;
    }
  }

  textarea.ng-invalid {
    border: 2px solid $pumpkin;
  }
}

// end card directive

/*----------------
  Sign-In Dialog
----------------*/
.sign-in-dialog, .sign-up-dialog {
  input {
    height: 35px;
    padding-left: 4px;
    margin-bottom: 15px;
    max-width: 400px;
    width: 100%;
    display: block;
    border: 1px solid #ababab;
    font-family: $aleo-font;

    &:focus {
      padding-left: 0;
      outline: none;
      border: 1px solid $teal;
    }

    &.ng-invalid {
      border: 2px solid $pumpkin;
    }
  }

  a {
    font-size: 0.9em;
    font-family: $aleo-font;
  }
}

// end sign-in dialog

/*----------------------
  App Creator
----------------------*/
.app-creator {
  blockquote {
    margin-bottom: 0;
    margin-top: 30px;
  }

  div.ng-card {
    @media screen and (min-width: 1200px) {
      margin-bottom: 5px;
    }
  }

  div.row {
    margin-top: 15px;
  }

  .btn-belize {
    margin-bottom: 0;
  }

  .ng-card textarea {
    min-height: 114px;
  }

  .website {
    margin-top: 23px;
    margin-bottom: 22px !important;

    @media screen and (min-width: 992px) and (max-width: 1200px) {
      margin-top: 10px;
      margin-bottom: 13px !important;
    }
  }

  input {
    color: $teal;
  }

  &.step-2 {
    input, textarea {
      color: $belize;

      &:focus {
        border: 1px solid $belize !important;
      }
    }
  }

  &.step-3 {
    input, textarea {
      color: $carrot;

      &:focus {
        border: 1px solid $carrot !important;
      }
    }
  }
}
