// Colors
$belize: #2980b9;
$belize_darker: #235686;
$white: #fff;
$cloud: #ecf0f1;
$teal: #16a085;
$teal-darker: #168e73;
$turquoise: #1abc9c;
$asphalt: #34495e;
$amethyst: #9b59b6;
$nephrytis: #27ae60;
$pumpkin: #d35400;
$pumpkin_darker: #a03d00;
$carrot: #e67e22;

// Fonts
$aleo-font: aleo, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mohave-font:  mohave, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;