<!--suppress HtmlUnknownAttribute -->

<!-- STEP 1 -->
<div class="app-creator">
    <div class="container">
        <blockquote class="teal">
            <img class="appcreator-icons" src="assets/img/icons/64/Roundicons-31.png" alt="Pick your Features"/>
            <h2 class="teal inline-block">Step n°1: Pick your Features</h2>
        </blockquote>

        <div class="row main-row">

            <!-- YOUTUBE -->
            <div class="col-sm-4">
                <div class="ng-card">
                    <div class="clearfix">
                        <div class="row-fluid clearfix">
                            <div class="col-xs-8">
                                <h3 class="teal no-margin-top"><i class="glyphicon glyphicon-play-circle"></i>YouTube
                                </h3>
                            </div>
                            <div class="col-xs-4">
                                <div class="flat-switch pull-right">
                                    <input type="checkbox" value="1" id="has_youtube" ng-model="youtube"
                                           ng-change="hasYoutube = !hasYoutube"/>
                                    <label for="has_youtube"></label>

                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <p>This feature allows users to browse through your YouTube channel &amp; watch your videos
                            directly from your app, with no login required.</p>
                        <input id="youtube" ng-model="features.youtube" type="text"
                               placeholder="YouTube channel name&#8230;"
                               ng-disabled="!hasYoutube"/>
                    </div>
                </div>
            </div>

            <!-- GOOGLE+ -->
            <div class="col-sm-4">
                <div class="ng-card">
                    <div class="clearfix">
                        <div class="row-fluid clearfix">
                            <div class="col-xs-8">
                                <h3 class="teal no-margin-top"><i class="glyphicon glyphicon-plus-sign"></i>Google+</h3>
                            </div>
                            <div class="col-xs-4">
                                <div class="flat-switch pull-right">
                                    <input type="checkbox" value="1" id="has_gplus" ng-model="gplus"
                                           ng-change="hasGplus = !hasGplus"/>
                                    <label for="has_gplus"></label>

                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <p>This feature allows users to browse through all your Google+ posts and to read them directly
                            from your application, with no login required.</p>
                        <input id="gplus" ng-model="features.gplus" type="text" placeholder="Google+ username&#8230;"
                               ng-disabled="!hasGplus"/>
                    </div>
                </div>
            </div>

            <!-- TWITTER -->
            <div class="col-sm-4">
                <div class="ng-card">
                    <div class="row-fluid clearfix">
                        <div class="col-xs-8">
                            <h3 class="teal no-margin-top"><i class="glyphicon glyphicon-user"></i>Twitter</h3>
                        </div>
                        <div class="col-xs-4">
                            <div class="flat-switch pull-right">
                                <input type="checkbox" value="1" id="has_twitter" ng-model="has_twitter"
                                       ng-change="hasTwitter = !hasTwitter"/>
                                <label for="has_twitter"></label>

                                <div></div>
                            </div>
                        </div>
                    </div>

                    <p>This feature allows users to browse through all your tweets and read them directly from your
                        application. (This feature is not available yet).</p>
                    <input id="twitter" ng-model="features.twitter" type="text" placeholder="Twitter username&#8230;"/>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- STEP 2 -->
<div class="app-creator step-2">
    <div class="container">
        <blockquote class="belize">
            <img class="appcreator-icons" src="assets/img/icons/64/RoundIcons-Free-Set-13_blue.png" alt="Pick your Features"/>
            <h2 class="belize inline-block">Step n°2: Configure your App</h2>
        </blockquote>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="ng-card">
                    <div>
                        <h3 class="belize no-margin-top">App Name</h3>

                        <p>This defines the name of your app, which will appear in the user's app drawer and in the
                            action-bar of your application</p>
                        <input id="appName" ng-model="config.appName" type="text" placeholder="My App&#8230;"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="ng-card">
                    <div>
                        <h3 class="belize no-margin-top">Package Name</h3>

                        <p>The unique identifier of your app. Use a reverse-url scheme with at least 3 parts:
                            <i>country.company.appname</i></p>
                        <input id="packageName" ng-model="config.packageName" type="text"
                               placeholder="com.apkreator.demoapp&#8230;"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 feat-disabled">
                <div class="ng-card">
                    <div>
                        <h3 class="belize no-margin-top">Color Scheme</h3>

                        <p>Defines the main color of your app, which will be found in the action-bar, on text titles, on
                            touch feedback, etc&#8230;</p>

                        <div class="hidden-xs hidden-md hidden-lg" style="height: 20px"></div>
                        <input id="colorScheme" ng-model="config.colorScheme" type="text" placeholder="#1ABC9C&#8230;"/>

                        <div class="hidden-xs hidden-md hidden-lg" style="height: 22px"></div>
                    </div>
                </div>

                <div class="ng-card hidden-md hidden-lg">
                    <div>
                        <h3 class="belize no-margin-top">Presentation</h3>

                        <p>Write a couple sentences to present yourself and/or your application</p>
                        <textarea name="presentation" ng-model="config.presentation" cols="30"
                                  rows="3"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 hidden-md hidden-lg">
                <div class="ng-card">
                    <div>
                        <h3 class="belize no-margin-top">Icon</h3>

                        <p>The icon of your app, which will be visible in the user's app drawer and in the action-bar of
                            your application</p>
                        <input name="icon" type="text" placeholder="http://i.imgur.com/zg9z8r7.png"
                               ng-model="config.icon"/>
                        <button class="btn btn-belize">Load</button>
                    </div>
                    <div class="image-holder">
                        <img class="img-responsive" ng-src="http://i.imgur.com/zg9z8r7.png" ng-show="imageLoaded"
                             alt="Example App Icon">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 hidden-md hidden-lg">
                <div class="ng-card">
                    <div class="clearfix">
                        <div class="row-fluid clearfix">
                            <div class="col-xs-8">
                                <h3 class="belize no-margin-top">Website</h3>
                            </div>
                            <div class="col-xs-4">
                                <div class="flat-switch pull-right belize">
                                    <input type="checkbox" value="1" id="has_website" ng-model="website"
                                           ng-change="hasWebsite = !hasWebsite"/>
                                    <label for="has_website"></label>

                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <p>If you have a website, please input its url below.<br/>A link to your website will be added
                            in the sliding drawer of your application.</p>
                        <input class="website" name="website" type="text" ng-model="config.website"
                               placeholder="http://apkreator.com&#8230;"
                               ng-disabled="!hasWebsite"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 hidden-xs hidden-sm">
                <div class="ng-card">
                    <div>
                        <h3 class="belize no-margin-top">Presentation</h3>

                        <p>Write a couple sentences to present yourself and/or your application</p>
                        <textarea name="presentation" ng-model="config.presentation" cols="30" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 hidden-xs hidden-sm">
                <div class="ng-card">
                    <div>
                        <h3 class="belize no-margin-top">Icon</h3>

                        <p>The icon of your app, which will be visible in the user's app drawer and in the action-bar of
                            your application</p>
                        <input name="icon" type="text" placeholder="http://i.imgur.com/zg9z8r7.png&#8230;"
                               ng-model="config.icon"/>
                        <button class="btn btn-belize">Load</button>
                    </div>
                    <div class="image-holder">
                        <img class="img-responsive" ng-src="http://i.imgur.com/zg9z8r7.png" ng-show="imageLoaded"
                             alt="Example App Icon">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 hidden-xs hidden-sm">
                <div class="ng-card">
                    <div class="clearfix">
                        <div class="row-fluid clearfix">
                            <div class="col-xs-8">
                                <h3 class="belize no-margin-top">Website</h3>
                            </div>
                            <div class="col-xs-4">
                                <div class="flat-switch pull-right belize">
                                    <input type="checkbox" value="1" id="hasWebsite" ng-model="website"
                                           ng-change="hasWebsite = !hasWebsite"/>
                                    <label for="hasWebsite"></label>

                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <p>If you have a website, please input its url below.<br/>A link to your website will be added
                            in the sliding drawer of your application.</p>
                        <input class="website" name="website" type="text" ng-model="config.website"
                               placeholder="http://apkreator.com&#8230;"
                               ng-disabled="!hasWebsite"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- STEP 3 -->
<div class="app-creator step-3">
    <div class="container">
        <blockquote class="carrot">
            <img class="appcreator-icons" src="assets/img/icons/64/Roundicons-50.png" alt="Pick your Features"/>
            <h2 class="carrot inline-block">Step n°3: API Keys</h2>
        </blockquote>

        <div class="row main-row">

            <div class="col-sm-8" ng-show="hasYoutube || hasGplus">
                <div class="ng-card">
                    <div class="clearfix">
                        <h3 class="carrot no-margin-top">Google API Key</h3>

                        <p>In order for your app to access your {{features_text}} data, you will need to register an API
                            Key with Google.<br/>
                            This is absolutely free and only takes a minute. <a href="">Click here to learn more</a></p>
                        <input id="apiKey" ng-model="config.apiKey" type="text" placeholder="065sdf65s54f44ff65ds644f"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
    <button class="btn-teal-big center-block" ng-click="generateAPIRequest()">GO!</button>
<br/>