<div class="turquoise-bg" style="padding: 20px;">
    <center><img class="img-responsive img-circle center-img" ng-src="http://placehold.it/200x200/27ae60/ffffff"
                 alt="Thème 2" src="http://placehold.it/200x200/e74c3c/ffffff"></center>
</div>

<div class="asphalt-bg">
    <div class="container">
        <h1 class="text-center cloud">Features</h1>
    </div>
</div>
<br/>
<div class="container">
    <blockquote class="teal">
        <h2 class="teal">YouTube Integration</h2>
    </blockquote>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="belize no-margin-top">Boost Your Channel</h3>

            <p class="ng-binding aleo">
                APKreator is perfect for YouTubers wanting to increase their visibility, credibility and amount of
                subscribers/viewers.<br/>
                We have had some great feedback from our clients running a YouTube channel, where they saw a
                visibile increase in both views and subscriptions after publishing and announcing their APKreator
                app.<br/>
            </p>
            <br/>
        </div>

        <div class="col-sm-6">
            <h3 class="pumpkin no-margin-top">Increase Your Income</h3>

            <p class="ng-binding aleo">
                As we all know, making a living off of YouTube is not an easy task.<br/>
                With APKreator, you can make money with your content no matter whether you are a YouTube Partner or not.
                <br/><br/>
                How, you ask? With the help of our AdSense integration your app can, if you wish to, generate income
                through advertising banners
                placed inside it (<i>AdSense integration is not available for FREE & STARTER plans</i>).
                <br/><br/>
                This way, When your users view or click an add, the income generated goes directly to you, cutting-out
                the middle-man.
                <br/>
                This can provide a nice complementary income to YouTube Partners, or a good kickstart for channels who
                are
                not already YouTube Partners.
            </p>
        </div>
    </div>

    <blockquote class="teal">
        <h2 class="teal">Google+ Integration</h2>
    </blockquote>

</div>