<div class="turquoise-bg home-slide-bg">
    <div class="container">
        <h1 class="text-center canter-light cloud no-margin-top all-caps">Your Android App in 5
            Minutes</h1><br/>

        <div class="row">

            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <img class="img-responsive center-block home-device" src="assets/img/flat-devices.png" alt=""/>
                <br/><br/><br/>
            </div>

            <div class="col-sm-4 hidden-xs">
                <img class="img-responsive home-device grow" src="assets/img/flat-htc-one.png" alt=""/>
            </div>
            <div class="col-sm-4">
                <div class="row home-features">
                    <div class="col-xs-3 col-sm-4">
                        <blockquote>
                            <div class="short-box-shadow img-circle">
                                <img class="img-responsive" src="assets/img/icons/64/RoundIcons-Free-Set-40.png"
                                     alt="Gorgeous Design"/>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-xs-9 col-sm-8">
                        <h3 class="mohave cloud no-margin-bottom no-margin-top">Gorgeous Design</h3>
                    </div>
                </div>

                <div class="row home-features">
                    <div class="col-xs-3 col-sm-4">
                        <blockquote>
                            <div class="short-box-shadow img-circle">
                                <img class="img-responsive" src="assets/img/icons/64/RoundIcons-Free-Set-50.png"
                                     alt="Ready In 5 Minutes"/>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-xs-9 col-sm-8">
                        <h3 class="mohave cloud no-margin-bottom no-margin-top">Instant results</h3>
                    </div>
                </div>

                <div class="row home-features">
                    <div class="col-xs-3 col-sm-4">
                        <blockquote>
                            <div class="short-box-shadow img-circle">
                                <img class="img-responsive" src="assets/img/icons/64/Roundicons-35.png"
                                     alt="Connected & Social Apps"/>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-xs-9 col-sm-8">
                        <h3 class="mohave cloud no-margin-bottom no-margin-top">Connected & Social Apps</h3>
                    </div>
                </div>

                <div class="row home-features">
                    <div class="col-xs-3 col-sm-4">
                        <blockquote>
                            <div class="short-box-shadow img-circle">
                                <img class="img-responsive" src="assets/img/icons/64/Roundicons-54.png"
                                     alt="Boost your online presence & credibility"/>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-xs-9 col-sm-8 two-lines">
                        <h3 class="mohave cloud no-margin-bottom no-margin-top">Boost your online presence &
                            credibility</h3>
                    </div>
                </div>

                <div class="row home-features">
                    <div class="col-xs-3 col-sm-4">
                        <blockquote>
                            <div class="short-box-shadow img-circle">
                                <img class="img-responsive" src="assets/img/icons/64/RoundIcons-Free-Set-11.png"
                                     alt="Monetize your content with advertising"/>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-xs-9 col-sm-8 two-lines">
                        <h3 class="mohave cloud no-margin-bottom no-margin-top">Monetize your content with
                            advertising</h3>
                    </div>
                </div>
                <br/>
                <button class="btn-alizarin-big center-block long-box-shadow">SIGN-UP FOR FREE NOW!</button>
            </div>

            <div class="col-sm-4 hidden-xs">
                <img class="img-responsive home-device-2 pull-right grow" src="assets/img/flat-galaxy-s4.png" alt=""/>
            </div>
        </div>
    </div>
</div>

<div class="asphalt-bg home-presentation">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-2 col-sm-3 col-md-2">
                        <img src="assets/img/icons/64/Roundicons-53.png" alt="What is APKreator?"/>
                    </div>
                    <div class="col-xs-10 col-sm-9 col-md-10">
                        <h1 class="canter-light cloud">What is APKREATOR?</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-2 col-sm-4 col-md-3">
                        <img src="assets/img/icons/64/Roundicons-36.png" alt="Who is it for?"/>
                    </div>
                    <div class="col-xs-10 col-sm-8 col-md-9">
                        <h1 class="canter-light cloud no-margin-top no-margin-bottom">Who is it <span>for?</span></h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
